body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

canvas {
  margin: auto;
}

#homeScreen {
  display:block;
}
#levelsScreen {
  display:none;
}
#calculatorScreen{
  display:none;
}
#tutorialScreen{
  display:none;
}
.slimScrollBar {
  background: red !important;
  opacity: 1 !important;
  z-index: 999 !important;
}
