body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: contain;
}

canvas {
  margin: auto;
}

#homeScreen {
  display:block;
}
#levelsScreen {
  display:none;
}
#calculatorScreen{
  display:none;
}
#tutorialScreen{
  display:none
}
